<ng-template #groupmodal let-modal>

    <!-- The Modal Header -->
    <div class="modal-header">
        <h4 class="modal-title">Add Group</h4>
        <button class="btn btn-danger" (click)="modal.dismiss()">&times;</button>
    </div>

    <!-- The Modal Body -->
    <div class="modal-body" >
        <form >
            <div class="form-group" #groupform>
                <label for="groupName">Group Name:</label>
                <div class="forInput">
                    <input type="text" id="groupName">
                </div>
                <label for="items" style="margin-top: 20px;">Sub Groups:</label><div class="addInput" (click)="test(itemsinput)"><i class="fas fa-plus"></i></div>
                <div class="forInput" id='itemsinput'>
                    <input type="text" class="subGroupInput">
                </div>

                <label for="groupcolor">Group Color:</label>
                <div ngbDropdown class="d-inline-block">
                    <div class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Choose One</div>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" id="colorSelector">
                      <div ngbDropdownItem class="colorItem" *ngFor="let color of colors" (click)="chooseColor(color)">{{ color | titlecase }}</div>
                      <!-- <div ngbDropdownItem class="colorItem">Cyan</div>
                      <div ngbDropdownItem class="colorItem">Red</div> -->
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- The Modal Footer -->
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="submit(groupmodal, groupform)">Save</button>
    </div>



</ng-template>
<button class="btn btn-outline-danger" (click)="open(groupmodal)">
    <i class="fas fa-plus"></i>
</button>