<div class="container-fluid h-100" style="height: 100%;">
  <div class="row h-100" style="vertical-align: top;">

      <!-- The Sidebar -->
      <div class="col-lg-1 col-sm-1 h-100 col-12 xs-" id="navbar"><app-navbar></app-navbar></div>
      <!-- The Group List -->
      <div class="col-lg-3 col-sm-5 h-100 col-md-3 col-12  groupsList"><app-group-list></app-group-list></div>
      <!-- The Tasks -->
      <div class="col-lg col-sm col-md h-100 col app-tasks-list"><app-tasks-list></app-tasks-list></div>

  </div>

</div>