<ng-template #taskmodal let-modal>

    <!-- The Modal Header -->
    <div class="modal-header">
        <h4 class="modal-title">Task</h4>
        <button class="btn btn-danger" (click)="modal.dismiss()">&times;</button>
    </div>

    <!-- The Modal Body -->
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="taskName">Task Name</label>
                <div class="input-group">
                    <input type="text" >
                </div>
            </div>
        </form>
    </div>

    <!-- The Modal Footer -->
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="modal.close()">Save</button>
    </div>



</ng-template>
<button class="btn btn-danger add-task" (click)="open(taskmodal)"><i class="fas fa-plus"></i> Add New Task</button>
