<ng-template #taskmodal let-modal>

    <!-- The Modal Header -->
    <div class="modal-header">
        <h4 class="modal-title">Add Task</h4>
        <button class="btn btn-danger" (click)="modal.dismiss()">&times;</button>
    </div>

    <!-- The Modal Body -->
    <div class="modal-body">
        <form>
            <div class="form-group" #taskform>
                <label for="taskName">Task Name:</label>
                <input type="text" id="taskName">

                
                <label>Description:</label>
                <input type="text" id="description">

                <label>Sub Group: </label>
                <div ngbDropdown class="d-inline-block">
                    <div class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Choose One</div>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" id="groupSelector">
                      <div ngbDropdownItem class="groupItems" *ngFor="let item of group.items" (click)="chooseSub(item)">{{ item }}</div>
                    </div>
                </div> <br>
            </div>
        </form>
    </div>

    <!-- The Modal Footer -->
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="submit(taskform)">Save</button>
    </div>



</ng-template>
<button class="btn btn-danger add-task" (click)="open(taskmodal)"><i class="fas fa-plus"></i> Add New Task</button>
